.non-top {
  z-index: 1;
}

.cheeseDiv {
  overflow: hidden;
}

.cheese img {
  margin-top: -70px;
  overflow: hidden;
  margin-bottom: -85px;
}

.meatDiv {
  overflow: hidden;
}

.meat img {
  margin-top: -70px;
  overflow: hidden;
  margin-bottom: -85px;
}

.onionDiv {
  overflow: hidden;
}

.onion img {
  margin-top: -70px;
  overflow: hidden;
  margin-bottom: -85px;
}

.saladDiv {
  overflow: hidden;
}

.salad img {
  margin-top: -70px;
  overflow: hidden;
  margin-bottom: -85px;
}

.tomatoDiv {
  overflow: hidden;
}

.tomato img {
  margin-top: -70px;
  overflow: hidden;
  margin-bottom: -85px;
}

.pickleDiv {
  overflow: hidden;
}

.pickle img {
  margin-left: 20px;
  margin-top: -70px;
  overflow: hidden;
  margin-bottom: -85px;
}
